# redis configuration
REDIS_CLOUD_PUBLIC_ENDPOINT=
REDIS_CLOUD_PORT=
REDIS_CLOUD_PASSWORD=

# server configuration
SERVER_PORT=

# database configuration
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# kafka configuration
KAFKA_BOOTSTRAP_SERVERS=