DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=

POST_ID=
REACT_BASE_URL=http://localhost:8000/api/likes/react
GET_LIKES_URL=http://localhost:8000/api/likes/getLike
POSTS_URL=http://localhost:8000/posts